In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PrePlacement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [20]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

Independent Sample-Unpaired test
Different group(degree_t that is sci&tech,comm&mgmt) same condition(etest_p)

In [18]:
from scipy.stats import ttest_ind
scietest=dataset[dataset['degree_t']=='Comm&Mgmt']['etest_p']
commetest=dataset[dataset['degree_t']=='Sci&Tech']['etest_p']
ttest_ind(scietest,commetest)

TtestResult(statistic=-0.15609965200757184, pvalue=0.8761103632573719, df=202.0)

In [ ]:
Independent Sample-Unpaired test
Differen group(hsc_s that is Commerce,Science) same condition(salary)

In [19]:
from scipy.stats import ttest_ind
scisal=dataset[dataset['hsc_s']=='Commerce']['salary']
commesal=dataset[dataset['hsc_s']=='Science']['salary']
ttest_ind(scietest,commetest)

TtestResult(statistic=-0.15609965200757184, pvalue=0.8761103632573719, df=202.0)

Dependent Sample-Paired test
same group(hsc_s that is commerce) different condition(mba,etest)

In [13]:
from scipy.stats import ttest_rel
commba=dataset[dataset['hsc_s']=='Commerce']['mba_p']
cometest=dataset[dataset['hsc_s']=='Commerce']['etest_p']
ttest_rel(commba,cometest)

TtestResult(statistic=-7.868552092606871, pvalue=2.462926468454984e-12, df=112)

Dependent Sample-Paired test
same group(ssc_b=central ) different condition(degree_p etest)

In [17]:
from scipy.stats import ttest_rel
sscbdegree=dataset[dataset['ssc_b']=='Central']['degree_p']
sscbetest=dataset[dataset['ssc_b']=='Central']['etest_p']
ttest_rel(sscbdegree,sscbetest)

TtestResult(statistic=-4.742048966737809, pvalue=6.1179788608312405e-06, df=115)